@use '../abstracts/contrast' as *;
@use '../abstracts/functions' as *;
@use 'sass:list';

$color-numbers: 50 100 200 300 400 500 600 700 800 900;


@mixin define-color-scale($color-name, $color-scale) {
    @debug $color-scale;
    @for $i from 1 through list.length($color-numbers) {
        --#{$color-name}-#{list.nth($color-numbers, $i)}: #{list.nth($color-scale, $i)};
        --on-#{$color-name}-#{list.nth($color-numbers, $i)}: #{recommend-text-color(list.nth($color-scale, $i))};
    }
}

$blue: ( #eff6ff, #dbeafe, #bfdbfe, #93c5fd, #60a5fa, #3b82f6, #2563eb, #1d4ed8, #1e40af, #1e3a8a );
$brown: ( #efebe9, #d7ccc8, #bcaaa4, #a1887f, #8d6e63, #795548, #6d4c41, #5d4037, #4e342e, #3e2723 );
$crimson: ( #fff5f7, #ffe4ea, #fcbac3, #f38f98, #ec6977, #e34252, #cc3342, #b32437, #991b2e, #7c1325 );
$cyan: ( #ecfeff, #cffafe, #a5f3fc, #67e8f9, #22d3ee, #06b6d4, #0891b2, #0e7490, #155e75, #164e63 );
$gray: ( #f9fafb, #f3f4f6, #e5e7eb, #d1d5db, #9ca3af, #6b7280, #4b5563, #374151, #1f2937, #111827 );
$green: ( #f0fdf4, #dcfce7, #bbf7d0, #86efac, #4ade80, #22c55e, #16a34a, #15803d, #166534, #14532d );
$indigo: ( #eef2ff, #e0e7ff, #c7d2fe, #a5b4fc, #818cf8, #6366f1, #4f46e5, #4338ca, #3730a3, #312e81 );
$orange: ( #fff7ed, #ffedd5, #fed7aa, #fdba74, #fb923c, #f97316, #ea580c, #c2410c, #9a3412, #7c2d12 );
$pink: ( #fdf2f8, #fce7f3, #fbcfe8, #f9a8d4, #f472b6, #ec4899, #db2777, #be185d, #9d174d, #831843 );
$purple: ( #f5f3ff, #ede9fe, #ddd6fe, #c4b5fd, #a78bfa, #8b5cf6, #7c3aed, #6d28d9, #5b21b6, #4c1d95 );
$red: ( #fef2f2, #fee2e2, #fecaca, #fca5a5, #f87171, #ef4444, #dc2626, #b91c1c, #991b1b, #7f1d1d );
$sage: ( #f8faf9, #eef4f1, #dfe9e3, #cfded6, #bfcfca, #aebeb8, #8ea29d, #6e807d, #545f5c, #3a3f3e );
$slate: ( #f8fafc, #f1f5f9, #e2e8f0, #cbd5e1, #94a3b8, #64748b, #475569, #334155, #1e293b, #0f172a );
$violet: ( #f5f3ff, #ede9fe, #ddd6fe, #c4b5fd, #a78bfa, #8b5cf6, #7c3aed, #6d28d9, #5b21b6, #4c1d95 );
$yellow: ( #fffbeb, #fef3c7, #fde68a, #fcd34d, #fbbf24, #f59e0b, #d97706, #b45309, #92400e, #78350f );


:root {
    @include define-color-scale('blue', $blue);
    @include define-color-scale('brown', $brown);
    @include define-color-scale('crimson', $crimson);
    @include define-color-scale('cyan', $cyan);
    @include define-color-scale('gray', $gray);
    @include define-color-scale('green', $green);
    @include define-color-scale('indigo', $indigo);
    @include define-color-scale('orange', $orange);
    @include define-color-scale('pink', $pink);
    @include define-color-scale('purple', $purple);
    @include define-color-scale('red', $red);
    @include define-color-scale('sage', $sage);
    @include define-color-scale('slate', $slate);
    @include define-color-scale('violet', $violet);
    @include define-color-scale('yellow', $yellow);
} 

[data-mode="dark"] {
    // @include define-color-scale('blue', reverse($blue));
    @include define-color-scale('blue', reverse($blue));
    @include define-color-scale('brown', reverse($brown));
    @include define-color-scale('crimson', reverse($crimson));
    @include define-color-scale('cyan', reverse($cyan));
    @include define-color-scale('gray', reverse($gray));
    @include define-color-scale('green', reverse($green));
    @include define-color-scale('indigo', reverse($indigo));
    @include define-color-scale('orange', reverse($orange));
    @include define-color-scale('pink', reverse($pink));
    @include define-color-scale('purple', reverse($purple));
    @include define-color-scale('red', reverse($red));
    @include define-color-scale('sage', reverse($sage));
    @include define-color-scale('slate', reverse($slate));
    @include define-color-scale('violet', reverse($violet));
    @include define-color-scale('yellow', reverse($yellow));
}