// Button base styles
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;

  // Variants
  &-primary {
    background-color: var(--color-primary);
    color: white;
    
    &:hover {
      background-color: var(--blue-700);
    }
  }

  &-secondary {
    background-color: var(--color-secondary);
    color: var(--on-color-secondary);
    
    &:hover {
      background-color: var(--gray-600);
      color: var(--on-gray-600);
    }
  }

  &-success {
    background-color: var(--color-success);
    color: var(--on-color-success);
    
    &:hover {
      background-color: var(--green-700);
      color: var(--on-green-700);
    }
  }

  &-warning {
    background-color: var(--color-warning);
    color: var(--on-color-warning);

    &:hover {
      background-color: var(--yellow-700);
      color: var(--on-yellow-700);
    }
  }

  &-danger {
    background-color: var(--color-danger);
    color: var(--on-color-danger);

    &:hover {
      background-color: var(--red-700);
      color: var(--on-red-700);
    }
  }

  &-info {
    background-color: var(--color-info);
    color: var(--on-color-info);

    &:hover {
      background-color: var(--cyan-700);
      color: var(--on-cyan-700);
    }
  }
  

  // Sizes
  &-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  &-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
  }

  // States
  &:disabled {
    color: var(--gray-500);
    background-color: var(--gray-200);
    cursor: not-allowed;
  }
} 