// @use '../variables' as *;
@use 'sass:map';



// Flex center mixin
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Typography mixins
@mixin heading-1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

@mixin heading-2 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
}

// Mixin to define --on-{color}-{shade} variables
@mixin define-on-colors($color-name, $color-map) {
  @each $shade, $color in $color-map {
    $ccolor: #{get-contrast-color(#{$color})};
    --on-#{$color-name}-#{$shade}: #{$ccolor};
  }
}
